{% extends 'index.html'%}
{% load staticfiles %}


{% block maincontent%}
<div class="col-sm-8 col-lg-8 col-lg-offset-2 col-sm-offset-2 top10">
	&nbsp;
	&nbsp;
	&nbsp;
	&nbsp;
</div>


{% for question in questions %}
<div class="col-sm-8 col-lg-8 col-lg-offset-2 col-sm-offset-2 top10">
	<div class="dash-unit top10">
		<div class=" col-md-11 col-md-offset-1 pull-left">
			<p class="lead">
				{{ question.question_text }}
			</p>
		</div>
		
		{% for choice in choices %}
		<div class=" col-md-11 col-md-offset-1">
			{% if choice.question == question %}
			{{ choice.choice_text }}
			{% endif %}
		</div>
		{% endfor %}
		
	</div>
</div>
{% endfor %}

{% endblock %}